<div  class="Text">
<div class="Hi"> </div>
 <div><form action="" method="POST">
    {% csrf_token %}
    <input type="text"style="height: 30px;width: 200px;"name="name" >
    <button type="submit" name="save" class="btn btn-primary">Submit</button>
    <button type="delete" name="delete" class="btn btn-primary">delete</button>
    <button type="edit" name="edit" class="btn btn-primary">edit</button>
</form>
{% for a in name %}
   name :{{a.name}}
<br>
address:{{a.address}}
<br>
phone:{{a.phone}}
<br>
 cours{{a.cours}}
 <br>
 place{{a.place}}
 

 {% endfor %}
</div>
</div>